.site-footer {
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: #f8f8f8;
}

.site-footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 52px;
}

.site-footer-socials {
    display: flex;
    align-items: center;
}

.site-footer-socials li:not(:last-child) {
    margin-right: 16px;

}
.site-footer-socials a {
    color: #252420;
    text-decoration: none;
    transition: opacity 0.4s ease, color 0.4s ease;
}

.site-footer-socials a:hover {
    color: #ff7500;
}

.site-footer-socials a:active {
    opacity: 0.6;
}

.site-footer-divider {
    height: 2px;
    border: 0;
    margin-bottom: 52px;
    background-color: rgba(37, 36, 32, 0.5);
}

.site-footer ul {
    list-style: none;
}

.site-footer-bottom {
    display: flex;
    justify-content: space-between;
}

.site-footer-links {
    width: 224px;
    line-height: 19px;
    margin-right: 68px;
}

.site-footer-links:last-child {
    margin-right: 0;
}

.site-footer-links a {
    color: #252420;
    text-decoration: none;
    transition: color 0.4s ease, opacity 0.4s ease;
}

.site-footer-links a:hover {
    color: #ff7500;
}

.site-footer-links a:active {
    opacity: 0.6;
}

.site-footer-item {
    margin-bottom: 16px;
}

.site-footer-item:last-child {
    margin-bottom: 0;
}