.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #fff;
    background-color: #252420;
    padding: 80px 170px;
}

.hero-content {
    width: 390px;
}

.hero-heading {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
}

.hero-text {
    margin-bottom: 32px;
}

.hero-img {
    width: 510px;
    height: 510px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6);
}