
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

/* 
*:focus {
    outline: 2px dotted #ff7500;
    outline-offset: 3px;
} */

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    
    border-top: 5px solid #ff7500;
    
}

/* 
.container {
    width: 1100px;
    margin: 0 auto;
} */


.primary-button {
    display: inline-block;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;
    background-color: #ff7500;
    transition: opacity 0.4s ease;
}

.primary-button:hover {
    opacity: 0.8;
}

.primary-button:active {
    opacity: 0.6;
}

.orange-line {
    border: 0;
    width: 80px;
    height: 3px;
    margin-bottom: 24px;
    background-color: #ff7500;
}
