.promo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    color: #fff;
    padding: 64px;
    margin-top: 120px;
    margin-bottom: 160px;
    border-radius: 12px;
    background-color: #252420;
}

.promo-content {
    width: 440px;
}

.promo-heading {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
}

.promo-text-wrapper {
    margin-bottom: 24px;
}

.promo-text:not(:last-child) {
    margin-bottom: 12px;
}

.promo-highlight {
    color: #ff7500;
}

.promo-img {
    width: 440px;
    height: 440px;
    object-fit: cover;
}
