
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
.container {
    width: 1100px;
    margin: 0 auto;
} */

body {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    border-top: 5px solid #ff7500;
}

/* *:focus {
    outline: 2px dotted #ff7500;
    outline-offset: 3px;
} */

.primary-button {
    color: #fff;
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;
    background-color: #ff7500;
    transition: opacity 0.4s ease;
}

.primary-button:hover {
    opacity: 0.8;
}

.primary-button:active {
    opacity: 0.6;
}

.orange-line {
    width: 80px;
    height: 3px;
    margin-bottom: 24px;
    border: 0;
    background-color: #ff7500;
}


/* SITE HEADER */
.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #fff;
    padding: 16px 170px;
}

.logo {
    transition: opacity 0.4s ease;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}

.site-header-actions {
    display: flex;
    align-items: center;
}

/* SITENAV */
.sitenav-list {
    display: flex;
    list-style: none;    
}

.sitenav-link {
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    transition: color 0.4s ease,
        opacity 0.4s ease;
}

.sitenav-link:hover {
    color: #ff7500;
}

.sitenav-link:active {
    opacity: 0.6;
}

/* HERO SECTION */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #fff;
    background-color: #252420;
    padding: 80px 170px;
}

.hero-content {
    width: 390px;
}

.hero-heading {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
}

.hero-text {
    margin-bottom: 32px;
}

.hero-img {
    width: 510px;
    height: 510px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6);
}

/* FEATURES SECTION */
.features {
    padding: 210px 170px;
}
.features-heading {
    width: 440px;
    font-size: 72px;
    line-height: 1.2;
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
}

.features-list {
    display: flex;
    list-style: none;
}

/* FEATURE */
.feature {
    width: 340px;
}

.feature-icon-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255, 117, 0, 0.2);

    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-title {
    font-size: 24px;
    line-height: 1.2;
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
}

/* PROMO SECTION */
.promo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    color: #fff;
    padding: 64px;
    border-radius: 12px;
    background-color: #252420;
}

.promo-content {
    width: 440px;
}

.promo-heading {
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Roboto Condensed', 'Arial', sans-serif;
}

.promo-highlight {
    color: #ff7500;
}

.promo-img {
    width: 440px;
    height: 440px;
    object-fit: cover;
}

/* SITE FOOTER */
.site-footer {
    padding: 55px 170px;
    background-color: #f8f8f8;
}

.site-footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-footer-socials {
    display: flex;
}

.site-footer-socials a {
    color: #252420;
    text-decoration: none;
    transition: opacity 0.4s ease, color 0.4s ease;
}

.site-footer-socials a:hover {
    color: #ff7500;
}

.site-footer-socials a:active {
    opacity: 0.6;
}

.site-footer-divider {
    height: 2px;
    border: 0;
    background-color: rgba(37, 36, 32, 0.5);
}

.site-footer ul {
    list-style: none;
}

.site-footer-bottom {
    display: flex;
    justify-content: space-between;
}

.site-footer-links {
    width: 224px;
    line-height: 19px;
}

.site-footer-links a {
    color: #252420;
    text-decoration: none;
    transition: color 0.4s ease, opacity 0.4s ease;
}

.site-footer-links a:hover {
    color: #ff7500;
}

.site-footer-links a:active {
    opacity: 0.6;
}
